# dirs
log/
cmd/
tmp/
old/
uploads/
.history/
www/

# files
go.sum
air.*
config.yaml
tests/config.yaml
latest_log
main
tests/resource/favicon.ico
tests/base/resource/template/wechat_pay.html
tests/main_test.go
.air.toml

# ext
*.log
*.exe
*.crt


